
E-COMMERCE PROJECT
Project Report
Submitted in partial fulfilment of the requirements for the degree of
MASTER OF COMPUTER APPLICATIONS
by
RAHUL KUMAR
(Reg. No. 194040194CA034)




DEPARTMENT OF MATHEMATICAL AND COMPUTATIONAL SCIENCES
NATIONAL INSTITUTE OF TECHNOLOGY KARNATAKA, 
SURATHKAL, MANGALORE-575025
KARNATAKA, INDIA
 JUNE,2022



DECLARATION
I hereby declare that the report of the P.G. Project work entitled “E-COMMERCE PROJECT” which is being submitted to National Institute of Technology Karnataka, Surathkal in partial fulfilment of the requirements for the degree of Master of Computer Applications in the Department of Mathematical and Computational Sciences, is a bonafide report of the work carried out by me. The material contained in this report has not been submitted to any University or Institution for the award of any degree.







Place: NITK, Surathkal
Date: 20th June 2022	

RAHUL KUMAR
(Reg.No:194040194CA034)
Department of Mathematical and Computational Sciences,
National Institute of Technology, Karnataka, Surathkal






CERTIFICATE
This is to certify that the project report entitled “E-COMMERCE PROJECT” submitted by RAHUL KUMAR (Reg. No. 194040194CA034) as the record of the work carried out by him, is accepted as the P.G. Project Work Report submission in partial fulfilment of the requirements for the award of degree of Master of Computer Applications in the Department of Mathematical and Computational Sciences, National Institute of Technology Karnataka, Surathkal.



Mrs. Jauhri Rashi
(External Project Guide)
Genpact,


	

                              Dr. R. Madhusudhan
                              (Internal Project Guide)
                              Professor,
                              Department of MACS,
                              NITK, Surathkal.





Chairman-DPGC
(Signature with Date and Seal)
 
 
       
                                   ACKNOWLEDGEMENT
The satisfaction that is generated by the successful completion of a task would remain unfulfilled without mentioning people who have encouraged and guided me at every step towards the completion of the task. First, I would like to extend my sincere thanks to my guide in the company Mr. Vaibhav Pawar, Software Engineering Line Manager, to Genpact Services Pvt Ltd for giving me the opportunity to work under him. This opportunity gave me a chance to sharpen my working methodology to a higher extent and to solve the problems in a better and easier way, so that it can be presented in a better and understandable manner.
 My heartfelt gratitude also goes to Professor DR. R MADHUSUDHAN Head of the Department, Department of Mathematical and Computational Sciences, National Institute of Technology Karnataka, Surathkal, for providing me with the opportunity to avail the excellent facilities and infrastructure of the institute.
 I would also like to thank my mentor Professor Dr. R. MADHUSUDHAN, Department of Mathematical and Computational Sciences, National Institute of Technology Karnataka, Surathkal, for his guidance and support. The knowledge and values inculcated have proved to be of immense help at the very start of my career.
I am very thankful to to Genpact Services Pvt Ltd, for giving me the opportunity to work under their experienced team and on a research project. 
This would never be complete without thanking my parents and my family for their constant support and encouragement and of course my friends and teammates for helping me throughout the process.





ABSTRACT

The internship report highlights the major work carried out by me, RAHUL KUMAR in terms of academic and non-academic perspective. The scope of this document is to identify and describe the analysis carried out, experience gained and focuses on the achievement of the intern.
I was hired to Genpact Services Pvt Ltd as an intern for 6 months. I find myself lucky by getting the chance to work in such a productive environment Genpact provided and got introduced to some of the new terms, new technologies and new coding languages. But the most amazing experience was to work in a free and open culture environment.
The projects that I worked on had built up my confidence and increased my practical in-depth knowledge. These projects were very helpful in widening my views with respect to different development frameworks and I got introduced to new technologies also.
Apart from coding, I get to learn the office and work ethics. The task we do represents the way we think, execute, organize and deliver our skills.
Commitment and Punctuality are not just words, they keep a balance between our professional and personal work. Besides this some vital lessons and wonderful experience will obviously help me in future to be an asset to the company.
After the internship, if I compare myself to the one before internship, I have become more skilled and more professional with a much-balanced life.
 
 
TABLE OF CONTENTS

CHAPTER 1 INTRODUCTION……...…………………….………………………...1
1.1 Preamble….………………………………………………………………1
1.2 Objective….……....……………………………………………………....1
1.3 Scope…….……………………………………………………………….1
CHAPTER 2 COMPANY’S PROFILE……………………………………………….2
2.1 About Genpact……………………………………………………………2
2.2 Location and Physical Layout…………………………………………….2
2.3 Industry Experience………………………………………………………3
2.4 Culture……..……………………………………………………………...3
CHAPTER 3 MY LEARNINGS………………………………………………………4
3.1 Domain…………...……………………………………………………….4
3.2 Technologies……...………………………………………………………4
3.3 Challenges…………...……………………………………………………5
CHAPTER 4 PROFESSIONAL GROWTH….……………………………………….6
4.1 Technologies……………………………………………………………...6
CHAPTER 5 NON-TECHNICAL TRAINING……………………………………...18
5.1 Genpact Mandatory Compliance Training For New Hires……………...18
5.2 Genpact IND CMITS Capital Market…………………………………...18
5.3 Genpact 200 IND BTS Campus To Corporate………………………….19
CHAPTER 6 E-COMMERCE WEBSITE…………………………………………...21
CONCLUSION………………………………………………………………………25
REFERENCE………………………………………………………………………...26
  

CHAPTER 1
INTRODUCTION
 1.1 Preamble
Internship is the process of on-the-job training, which particularly beneficial for students with major in technical courses. National Institute of Technology, Karnataka provides that glorious opportunity to their students of having an internship within their master program. BIT, Karnataka always emphasize on industry orientation in academic study. For these purpose industry people are invited to NIT, Karnataka to talk about their companies and experiences, often some technical courses are entirely conducted by them. The six-month internship program is another, possibly most effective, way of achieving industry orientation. Internship helps the students to link-up their academic experience with industry practices. I have tried my best to combine the both together. I was hired at Genpact Services Pvt Ltd. Genpact is a global professional services firm that makes business transformation real.
 1.2 Objective
This report has been prepared as a requirement of the internship program of the degree MCA. The report is intended to reflect my achievements, project involvements and professional growth during the intern period.

1.3 Scope
This report gives an insight of the experience that I faced in my workplace at Genpact. As well as it also provides a brief description of Genpact for students who are interested about Genpact for their professional growth.

 
CHAPTER 2
COMPANY’S PROFILE
2.1 About Genpact
Genpact is a global professional services firm that makes business transformation real. 
Led by our purpose -- the relentless pursuit of a world that works better for people -- we drive digital-led innovation and digitally enabled intelligent operations for our clients. 
Guided by our experience reinventing and running thousands of processes for hundreds of clients, many of them Global Fortune 500 companies, we drive real-world transformation at scale. We think with design, dream in digital, and solve problems with data and analytics. 
Combining our expertise in end-to-end operations and our AI-based platform, Genpact Cora, we focus on the details – all 100,000+ of us. From New York to New Delhi, and more than 30 countries in between, we connect every dot, reimagine every process, and reinvent the ways companies work.
We know that reimagining each step from start to finish creates better business outcomes. Whatever it is, we will be there with you – accelerating digital transformation to create bold, lasting results – because transformation happens here.
2.2 Location and Physical Layout
The company has more than 100,000 employees working globally including India. Genpact has several locations in India covering almost all metro cities like Delhi, Mumbai, Kolkata, Hyderabad etc.
Beside these company has many locations across the globe.
Genpact has offices in around 30 countries like Australia Brazil, Canada, Germany, Israel etc.
2.3	Industry Experience
Genpact was founded in year 1997 as a unit of General Electric. In year 2005 Genpact stated serving as an independent company and by end of the year recoded 15% growth in global clients. In year 2007 Genpact was listed on the NYSE under symbol ‘G’.
Genpact continued its growth and in year 2011 shifted headquarters to New York.
Recently in year 2020 Genpact also supplied an AI based software to UK Medicines and Healthcare products Regulatory Agency to process the expected high volume of COVID-19 vaccine Adverse drug reactions.
2.4	Culture
Everything that we do in Genpact is customer and process driven and targets to make business transformation real and that’s the culture Genpact has developed over the years.
Best part about culture of Genpact is here every individual gets complete freedom to explore and realize his potential.
So, we get chance to shape our future and get complete support from Genpact to achieve them. Genpact follows a dynamic approach that helps to deliver high impactful output. And here we don’t compromise with the quality of product, and follows all standard parameters for product. 
At Genpact, we believe in a culture where we work extra hard achieve great success and along the way, we definitely know how to have fun. Everything we do, we do it with trust and passion. That is what makes this workspace so special. Genpacters are highly enthusiastic and motivated bunch of individuals, dedicated to achieving a shared and audacious goal. 



CHAPTER 3
MY LEARNINGS
3.1	DOMAIN
I was assigned to Java domain. I can define my internship in two parts. In first part we got the professional training like ethics at work, campus to corporate etc.

Another part of my internship is technical trainings in which I got trainings in Java, Angular, Python etc.

So, for the first part of the trainings, we got access to Genpact training portal which is ‘ILearn’ and in Ilearn we got different trainings assigned to us from day to day depending on the duration of training. We also had different meetings with our managers where we had to report them about our trainings.

Apart from the meetings with managers we also had many Leads Connect sessions where the top leaders of the company shared their experiences and guided freshers and solved their queries.

For the second part of the internship that is technical learning we had daily lectures with the external guide where he guided us for advanced version different technologies.

3.2	TECHNOLOGIES
The technologies for which we were assigned tutor were:
	Core Java
	JDBC 
	My SQL
	Spring Framework
	Hibernate
	HTML, CSS, Java script
	Node JS
	Angular 
	Python
	NumPy & Pandas
	AWS


3.3	CHALLENGES
During the technical training period we had to submit different assignments and also, we had different test each week. Dealing with huge data and still maintaining the performance of application was the biggest challenge and it was all new to use hibernate and other advanced technologies. But instructor guided us and cleared all our queries. Whole training was in online mode and was very interesting and knowledge gaining. 

During training we got introduced to new technologies like AWS, Angular etc, which were completely new to me but with the instructor guidance and constant hard work, it was overall very fruitful trainings.












CHAPTER 4
PROFESSIONAL GROWTH
4.1	Technologies
During internship, we have used many technologies like Java, Python etc. Will be explaining a few in the manner we have used it. In Python we have used pandas and NumPy to extract the useful data. My mind was also stuck by the fact that how can we clean the data and get the useful result from the data, but with the constant support of instructor I was able to do it.

Core Java
Java applications are executable on every platform. Before this internship I had theoretical knowledge of java concepts, And basic implementation of core java concepts. But after advance java training, I can say java is one of the best languages for backend or server-side programming. Multithreading and inbuild different classes are gift for the developers. 
We used java 8 in Genpact. So, java 8 introduced some very good features for the developer like lambda expression etc which helped developers a lot.

Our java training started with core java in core java studied different basic concepts of java. In core java we were taught about basic concepts which are base of java.
 In core java we were taught about classes, objects, OOPs etc basic concepts were taught. Along with these basic concepts were also taught exceptional handling threading and multi-threading.




Advance Java
After the completion of core java training, our next training was on advance java. Our advance java training started with build tools like Maven, adding maven dependency etc. next we were taught about spring framework in spring framework we learned about spring boot, spring JDBC, spring MVC structure etc were taught. next part was of web services in which we learned about the REST API etc. Also, for the data base we used my sql workbench. Also with the java training we learned basics of front end development using HTML, CSS, Java Script.
In advance java training we have also done practical and performed crud operations on database. Also developed simple web applications for learning purpose and submitted those applications to our instructor. In training we were also taught about developing spring applications using spring framework.

Spring boot
Spring-boot is a sub module from which we can speed up development process because in spring boot configuration is 80% automatic. Spring boot is not a zero-code generation neither an application nor a web server. 
Consider if you want to develop a web app, then you will only need to add the required dependencies and then there you are. So, Spring boot looks at the framework available on class path, existing configuration on application and automatically configure all the resources. 
So, Technically Spring framework talks about defining beans, talks about component, services and helps to build loosely coupled definition and reduces duplication of code. 
The core problem solved by Spring MVC is it has provided a decoupled way of developing web apps. 
Here the most important feature is “Separation of concerns”. Some of the dependencies that we regularly use are Spring Actuator, Spring Dev Tools, JPA etc.
My SQL Workbench 
My SQL workbench is a graphical tool to work with database. My SQL workbench is developed and maintained by oracle. It is used for SQL development, data migration, data modelling etc.
My SQL workbench can also be used for comprehensive administration tools for server configuration, for backup of data etc. server administration can be used for creating different models like physical data model etc. It can also be used for ER diagrams and can be used for running different queries or SQL development.

My SQL workbench has 5 main functionalities 
•	SQL Development
•	Data Modelling
•	Server Administration
•	Data Migration
•	My SQL Enterprise support.

NODE JS
Node.js is an open-source, cross-platform, back-end JavaScript runtime environment that runs on the V8 engine and executes JavaScript code outside a web browser.
Node JS is a java script library that is used for backend development of web applications. Node is an asynchronous event driven java script runtime language that can be used to develop large scale applications.
Figure 4.1 My SQL workbench login page snapshot
 
Figure 4.2 – My SQL workbench Home Screen Snapshot

Angular JS
After completion of our java training our next training was of angular js.
Angular JS is a powerful java script framework which is used to develop single page application (SPA) projects. Angular JS extends HTML DOM manipulation with additional attributes and makes more responsive to user actions.
Angular JS is an open-source web application framework which was developed in year 2009 by Misko Hevery and Adam Abron’s.  And it is now maintained by Google.

For writing code in angular we can use VS code as ide or IntelliJ IDEA can be used. 


Figure 4.3 – Vs Code Snapshot
 
Figure 4.4 – IntelliJ IDEA Snapshot
 Python 
After completion of Angular JS training our next training was of python. Our python training started with the basics of python and ended with NumPy.
Python is a general purpose interpreted, object oriented, interactive and high level programming language. Codes written in python are most readable codes. 
Python was created by Guido van Rossum during 1985 to 1990. 
In our python we were first taught the basics of python then progressed with some data structure like list, tuples, dictionaries etc. After these data structures we progressed with the concept of Classes, object and OOPs. In our training we also developed some small classes for learning purpose and reported to instructor. 
After OOPs we learnt about modules in python and explored some of the modules of python like Math module, date module etc.
After modules we explored some important concepts like exceptional handling, file handling etc.

NumPy
NumPy which is a python package stands for numerical python. NumPy is a python library which consist of multidimensional arrays objects and a collection of functions to do operations on these arrays.
Using NumPy we can perform logical and mathematical operations on arrays. NumPy also has in-developed functions for linear algebra and random number generation.
NumPy is mostly used in combination with SciPy and Matplotlib. This combination is often used as a replacement for MATLAB.
The most important feature of object defined in NumPy is its N-Dimensional array type called as ND array.

SciPy
SciPy is another very popular python library. SciPy is also open-source python library. SciPy is used for technical computing and scientific computing. It is a collection of convenience functions and mathematical algorithms developed on NumPy extensions.
The most important benefit of adding SciPy in our project is it gives developer significant powerful of interactive python session by providing developer with classes for manipulating and visualizing data.

Matplotlib
Matplotlib is another popular and most used library. Matplotlib is a cross-platform library used for data visualization and for creating, multiple plots using data presented in the form of arrays. 
Pandas
Pandas is another very powerful library of python. Pandas provide expressive, fast and flexible data structure designs to make working with labelled and relation data easy and intuitive.
Pandas provide high level building blocks for doing real world data analytics. Pandas are very effective for manipulating and analysis of data. In pandas we can handle missing data easily. pandas also help in pivoting and reshaping of different data sets.
For executing all codes of python, we can use different IDEs but for our training we used Jupiter notebook for python.
 Fig 4.5 – Jupiter notebook snapshot

 
Figure 4.6 – Jupiter notebook snapshot


AWS
After completion of our python training, we have our last training that was introduction to AWS. For AWS training we all were provided with the login credentials of the AWS account.
And we did all the practical of the AWS trainings with the instructor.

AWS stands for Amazon Web Services which is a part of amazon. AWS provides cloud platforms for hosting different application. AWS follows pay-as-you-go concept. Means user has to pay only for the time he has used the services.
AWS operates all around the globe with 26 regions and 84 availability zones. Each AWS region has many availability zones and these are the physical data centres where large amount of data is stored.

In our AWS training we learnt many concepts starting from EC2 to Route 53 etc. Our AWS training started with introduction to cloud computing, history of AWS, scenarios before AWS, impact AWS has made in our industry, Advantages and disadvantages of AWS. After the basic introduction we were taught EC2 instances. Like how to create the instances and how to stop instances and there was different option while creating the instances like selecting the region, selecting the operating system we want in our server, amount of ram and rom we require in our server and after creating the server where we can upload our code files all these things were taught to us during our AWS training.
EC2- EC2 stands for elastic compute cloud, so basically in ec2 instance we rent a virtual machine from amazon in which we will run our application on web. And will pay amazon on pay-as-you-go concept.
  
VPC- VPC or Amazon VPC stands for Amazon virtual private cloud. VPC helps user to launch AWS resources in a specific network which is defined by the user. The VPC is like the traditional network that user operates from his own data centre.

ELB- ELB is another very powerful and effective service provided my amazon. ELB stands for elastic load balancer. If our application hosted with amazon has more traffic, then ELB with automatically distribute the upcoming traffic and scales up the resources for our application.

Cloud Watch- Cloud watch is another very useful feature provided by AWS. Using cloud watch user can collect and corelate the data from all the AWS service and resource.

S3- S3 or Amazon S3 stands for amazon simple storage service. Amazon S3 stores data in buckets and data is stored in from of objects. And user can retrieve any amount of data anytime, anywhere in the world.

Route 53- Route 53 is a highly scalable domain name system web service. Amazon ROunt2 53 mainly performs three operations.

•	Domain Registration.
•	DNS Routing.
•	Health Checking.

RDS- RDS is another very helpful service in AWS. RDS stands for relational database services. RDS is used by the users to set up, operate and scale up database in AWS.

 
Figure 4.7 – AWS EC2 Instances

 
Figure 4.8 – Amazon Elastic Load Balancer
 
 
Figure 4.9- Amazon RDS console









CHAPTER -5
NON-TECHNICAL TRAINING
Apart from technical trainings Genpact also provided us with good quality of non-technical training, which included some ethics at work training, capital market trainings, presentation skills training etc.

5.1 Genpact Mandatory Compliance Training for New Hires

In Genpact Mandatory Compliance Training for New Hires we were having two modules in which one was for code of conduct and another one was for cyber security.

In code of conduct module, we were taught different basic rules and regulations that every employee of Genpact must follow. So that the overall environment of company remains positive and productive.

In second module which was of cyber security we were taught how to keep company’s data safe and secure in our Genpact provided laptops.
Also, in cyber security training we were taught to report to suspicious emails to our IT help desk. So that proper security measures can be taken. 

5.2 Genpact IND CMITS Capital Market

Our second training at Genpact was finance training and we gained lot of knowledge from this training. This training mainly covered 8 topics which are very important in finance.


•	Financial System in India.
•	Fixed Income.
•	Cash Equity.
•	Introduction to Derivatives.
•	Exchange Traded Derivatives.
•	Over the Counter Derivatives.
•	Trade Life Cycle.
•	Risk Management.

5.3 Genpact 200 IND BTS Campus To Corporate
In Genpact Campus to corporate training we were taught about different basics of corporate life being punctual to office hours. Following the rules and regulations of the Genpact and also taking proper care of our Genpact provided assets.

Presentation Skills

In presentation skills training we were taught different rules for giving presentation in Genpact like the background of slides contain logo of company.

Other tips that I learnt from presentation skills training was making proper eye-contact with the people while giving presentation. Proper dressing for the presentation.
Reaching the presentation room before 10 min and making every arrangement for presentation.

200 IND BTS Email Etiquette 
Email Etiquette training was another non-technical training that we got, in email etiquette training we got to know some rules and regulation for writing emails within the organization. There were also some rules specified like if we are changing a time of a meeting on last moment then we should not write mails instead, if possible, make a phone call top the person. Other rules were that we should always give greetings to the person in email and then should write the purpose of email.
Also, at last always give our designation. Which would contain senders’ office location, contact number etc.

 
CHAPTER 6
E COMMERCE WEBSITE
After the completion of my trainings, I started working for a project which was a ecommerce website. For development of this project i used some popular technologies like node js, angular etc.
For the database of project, I have used mongo db., where I will be storing data of the users and product details.
Starting with the website I created a home page which consist of a navbar which has the name of the website and some path to other pages.
In the home page itself I have also added the side bar which consist of some options like all products, electronics etc. In the home page user will be able to view the images and some details about the product.

Home Page
 Figure 6.1 – Home page

Above image is of home page, home page consists of the navbar followed by the product details and a side bar which consist of some category option.
Register Page

Figure -6.2 Registration page

In registration page user will be also to do registration it will be for new users. New users have to enter their username, email and password for registration. After the registration user’s information will be stored and database and user will be able to login from login page.




Login page

Figure 6.3 login page

In login page user will be able to do login, a user whose data is already present in the database will be able to do login. Other users who will try to login without registration then a alert will be shown of invalid details.

Admin Login Page

 Figure 6.4 – Admin Login Page
In the admin login page, the functions for admin are defined like a admin can add a product to database and can add a different category of products.
Apart from this it has a multiple functions of like admin like view users and admin can add a category of products.
Also, admin can add multiple products to the website.
 
CONCLUSION

Coming to the conclusion, the overall experience during the internship was very fruitful to me. I was able to make out my strengths and my weaknesses. Also, with the constant support of my manager and instructors I was able to make this internship more fruitful. With technical trainings most important thing is to apply them to the real-world problem and come up with a good, optimized solution which I realized is a process driven thing we need to have patience and follow the process to get the desired results. And with the Genpact I have learnt the same thing. I gained lot of knowledge with the internship and got a very new experience of working in a IT giant like Genpact. Also, the non-technical training has groomed me up with some ethics and rules and regulations that need to be followed.
I met new people and worked with them, this taught me how to work in teams with new colleges. And work together to give fruitful results.  Best things that we gain from such golden opportunity is “Experience” and this experience helps us to grow and reach a milestone in our life.
At last internship with Genpact has given me lot of experiences which I would carry forward in my life. and I am very thankful to Genpact for this opportunity.









REFERENCES

[1]  Faulkner, S., Eicholz, A., Leithead, T. & Danilo, A. 2016. HTML 5.1 [Document] W3C. (5.1) Accessed 2016. Retrieved from: https://www.w3.org/TR/html/introduction.html#a-quick-introduction-tohtml
[2] GitHub. 2014. Writing AngularJS Documentation. [Wiki] Accessed 2016. Retrieved from: https://github.com/angular/angular.js/wiki/Writing-AngularJS-Documentation
[3] Tutorials Point. 2016. Software Design Basics. Software Engineering Tutorial Accessed 2016. Retrieved from: http://www.tutorialspoint.com/software_engineering/software_design_basics.htm
